/* Login */
.form__container {
  border: 1px solid #ccc;
  padding: 20px 0;
  border-radius: 8px;
  width: 500px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

form {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 1em;
  width: 80%;
  margin: 0 var(--margin-center);
  background-color: var(--bg-color-secondary);
  padding: var(--s-2em);
  border-radius: var(--s-1em);
}

form div{
  margin-right: 15px;
  display: flex;
  flex-direction: column;
  gap: .5em;
  width: 100%;
}

form input {
  border-radius: var(--s-1em);
  padding: var(--s-1em);
  outline: none;
  border: solid 1px #000;
}

form button {
  border-radius: var(--s-1em);
  border: none;
  outline: none;
  background-color: var(--bg-color-principal);
  color: var(--bg-color-secondary);
  padding: var(--s-1em);
  font-size: var(--f-17);
  transition: var(--smoth-transition);
}

form button:hover {
  background-color: var(--btn-hover-primary);
  cursor: pointer;
}

h2 {
  color: var(--bg-color-secondary);
  font-size: var(--s-2em);
}

.error_container {
  color: red;
  border: 1px solid red;
  padding: 10px;
  margin-bottom: 15px;
  width: 40%;
  border-radius: 10px;
}