:root {
  /* Backgrounds */
  --bg-color-principal: #242424;
  --bg-color-secondary: #FFF;

  /* Colors */
  --btn-hover-primary: #0e0a0a;

  /* Transitions */
  --smoth-transition-bg: background-color 500ms ease-in-out;
  --smoth-transition-bg-cc: background-color 500ms ease-in-out, color 500ms ease-in-out;
  /* ----------- */

  /* Sizes */
  --margin-center: auto;
  --s-1em: 1em;
  --s-2em: 2em;
  --s-3em: 3em;
  --s-4em: 4em;
  --s-5em: 5em;
  --f-17: 17px;
  --f-14: 14px;

  /* Positions */
  --flex-ds: flex;
  --center: center;
}

body {
  background-color: var(--bg-color-principal);
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  min-height: 100vh;
}

h1 {
  font-size: var(--s-3em);
  color: var(--bg-color-secondary);
}
