:root{
  /* Backgrounds */
  --bg-color-principal: #242424;
  --bg-color-secondary: #FFF;

  /* Colors */
  --btn-hover-primary: #0e0a0a;
  
  /* Transitions */
  --smoth-transition: background-color 500ms ease-in-out;
  /* ----------- */

  /* Sizes */
  --margin-center: auto;
  --s-1em: 1em;
  --s-2em: 2em;
  --s-3em: 3em;
  --s-4em: 4em;
  --s-5em: 5em; 
  --f-17: 17px;
  
  /* Positions */
  --flex-ds: flex;
  --center: center;
}

body{
  background-color: var(--bg-color-principal);
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1{
  font-size: var(--s-3em);
  color: var(--bg-color-secondary);
}

form{
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 1em;
  width: 380px;
  min-width: 380px;
  margin: 20px var(--margin-center);
  background-color: var(--bg-color-secondary);
  padding: var(--s-2em);
  border-radius: var(--s-1em);
}

form input{
  border-radius: var(--s-1em);
  padding: var(--s-1em);
  outline: none;
  border: solid 1px #000;
}

form button{
  border-radius: var(--s-1em);
  border: none;
  outline: none;
  background-color: var(--bg-color-principal);
  color: var(--bg-color-secondary);
  padding: var(--s-1em);
  font-size: var(--f-17);
  transition: var(--smoth-transition);
}

form button:hover{
  background-color: var(--btn-hover-primary);
  cursor: pointer;
}

ul{
  display: var(--flex-ds);
  flex-direction: column;
  max-width: 50%;
  margin: 0 var(--margin-center);
  padding-bottom: var(--s-1em);
  font-size: var(--f-17);
}

ul li{
  list-style: none;
  color: var(--bg-color-secondary);
}